html {
	position: relative;
	min-height: 100%;
}
body {
	overflow-x: hidden;
	background-color: #2F2F2F
}
.bg-dark {
	background-color: #9d142e!important;
}
.card {
	display: block;
}
.card img {
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	margin-left: 15px;
}
body.fixed-nav {
	padding-top: 140px;
}
.content-wrapper {
	min-height: calc(100vh - 140px);
	padding-top: 1rem;
}
.smaller {
	font-size: 0.7rem;
}
.o-hidden {
	overflow: hidden !important;
}
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
.btn {
	background-color: #9d142e;
	color: #fff;
}
.btn:hover {
	background-color: #750E22;
}
.btn-light {
	background-color: transparent;
	color: #2F2F2F;
	border-color: #2F2F2F;
}
.btn-light:hover {
	background-color: #e9ecef;
	;
}
.btn-return {
	color: #2F2F2F;
	background-color: #fff;
	border-color: #2F2F2F;
}
.btn-delete {
	color: #2F2F2F;
	background-color: #fff;
	border-color: #2F2F2F;
}
.btn-delete:hover {
	color: #2F2F2F;
	background-color: #AEAEAE;
	border-color: #2F2F2F;
}
.card-body {
	box-shadow: 2px 4px 11px 0px rgba(128,128,128,0.5);
}
.card-body .btn-delete {
	right: 0;
	float: right;
}
.card-body b {
	font-size: 22px;
}
.return-link {
	color: #2F2F2F;
}
.return-link:hover {
	color: #1E1E1E;
	text-decoration: none;
}
.return-link:hover >.btn-return {
	color: #2F2F2F;
	background-color: #AEAEAE;
	border-color: #2F2F2F;
}
.modal-content {
	border-radius: 0;
}
.modal-content .modal-header {
	background-color: #ebe49a;
}
.inputnumber {
    float: right;
    width: 70px;
    right: 0;
    margin-right: 20px;
    height: 38px;
    border: 1px solid #2F2F2F;
    border-radius: .25rem;
    padding: 4px 10px;
}
a {
	color: #9d142e;
}
a:hover {
	color: #750E22;
}
h1 {
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 40px;
}
#mainNav .navbar-collapse {
	overflow: auto;
	max-height: 75vh;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
	cursor: pointer;
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	float: right;
	content: '\f107';
	font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
	content: '\f105';
}
#mainNav .navbar-collapse .sidenav-toggler {
	display: none;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
	position: relative;
	min-width: 45px;
}
.table .thead-dark th {
	background-color: #ebe49a;
	border-color: #ebe49a;
	color: #84754e;
}
.table .btn {
	background-color: #9b9b9b;
}
.table .btn:hover {
	background-color: #9d142e;
}
.table-hover tbody tr:hover, tbody tr.active {
	background-color: #84754e;
	color: white;
}
.page-item.active .page-link {
	background-color: #9d142e;
	border-color: #9d142e;
}
.page-link {
	color: #9d142e;
}
.page-link:focus, .page-link:hover {
	color: #9d142e;
}
.pagination{
	overflow-x: auto;
}

.pagination li a {
	border-radius: 5px;
}
.product-table nav {
	background-color: #fff;
	padding-top: 1rem;
	margin-top: -1rem;
}
.product-info > section >p>span {
	float: right;
}
.product-info > section >p>span>b {
	font-size: 30px;
}
.product-info ul.pagination .page-item {
	font-weight: 700;
}
.product-info ul.pagination .page-item span {
	font-weight: normal;
	display: block;
	text-align: center;
}
.product-info ul.pagination li a {
	border: none;
}
.product-info ul.pagination li a.page-link {
	color: #000000;
}
.levering-info section {
	background-color: white;
	margin-top: 1rem;
	padding-bottom: 1rem;
}
.levering-info ul {
	display: flow-root;
}
.levering-info ul li {
	border-bottom: solid 1px #2F2F2F;
	padding-top: 15px;
	display: flow-root;
}
.inputtext {
	width: 100%;
	height: 38px;
	border: 1px solid #2F2F2F;
	border-radius: .25rem;
	padding: 4px 10px;
	margin-bottom: 20px;
}
.aankoophistoriek {
	margin-top: 70px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dashed #9b9b9b;
	border-bottom: 1px dashed #9b9b9b;
}
.winkelmandje-prijs {
	font-size: 25px;
}
.winkelmandje-detailinfo {
	text-align: right;
	padding-top: 5px;
}
.winkelmandje-product-item {
	padding: 10px 0;
	border-bottom: 1px solid rgba(50,50,50,0.80);
	padding-right: 40px;
}
.winkelmandje-totaalbedrag {
	padding-right: 40px;
}
.modal-header {
	padding: 20px 50px;
}
.modal-body {
	padding-left: 50px;
	padding-right: 50px;
}
.modal-footer {
	padding-left: 50px;
	padding-right: 50px;
}
.border-gray-top {
	border-top: 1px solid rgba(50,50,50,0.80);
	padding-top: 1.5rem;
}

@media (min-width: 992px) {
#mainNav {
	background-color: #FFF!important;
	border-bottom: 2px solid #2F2F2F;
}
#mainNav .navbar-brand {
	width: 280px;
	height: 80px;
	text-align: center;
	background-color: #9d142e;
	margin: -0.5rem 0 -0.5rem -1rem;
}
#mainNav .navbar-brand>img {
	max-width: 170px;
}
#mainNav .navbar-collapse {
	overflow: visible;
	max-height: none;
	margin-left: 50px;
	margin-right: 50px;
}
#mainNav .navbar-collapse .navbar-sidenav {
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 82px;
}
#mainNav .navbar-collapse .navbar-sidenav > .nav-item {
	padding: 0;
}
#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	padding: 1.4em;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
	min-width: 0;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
	max-width: 300px;
}
}
#mainNav.fixed-top .sidenav-toggler {
	display: none;
}

@media (min-width: 992px) {
body.navbar {
	height: 140px;
}
body .navbar-dark .navbar-nav .nav-link {
	color: #2F2F2F;
	text-transform: uppercase;
}
body .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #9d142e;
}
body.fixed-nav {
	padding-top: 80px;
}
.content-wrapper {
	min-height: calc(100vh - 80px);
}
#mainNav.fixed-top .navbar-sidenav {
	height: calc(100vh - 82px);
}
#mainNav.fixed-top .sidenav-toggler {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: calc(100vh - 80px);
}
#mainNav.fixed-top .sidenav-toggler > .nav-item {
	width: 250px;
	padding: 0;
}
#mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
	padding: 1em;
}
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: #212529;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
	color: #adb5bd;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler {
	background-color: #dee2e6;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
	color: rgba(0, 0, 0, 0.5);
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
	overflow-x: hidden;
	width: 55px;
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item, body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
	width: 55px !important;
}
#mainNav.static-top .sidenav-toggler {
	display: none;
}

@media (min-width: 992px) {
#mainNav.static-top .sidenav-toggler {
	display: flex;
}
}
.content-wrapper {
	overflow-x: hidden;
	background-color: #f5f5f5;
	;
}

@media (min-width: 992px) {
.content-wrapper {
	margin-left: 280px;
	padding-left: 50px;
}
}
.navbar-sidenav-tooltip.show {
	display: none;
}

@media (min-width: 992px) {
body.sidenav-toggled .content-wrapper {
	margin-left: 55px;
}
}
body.sidenav-toggled .navbar-sidenav {
	overflow-x: hidden;
	width: 55px;
}
body.sidenav-toggled .navbar-sidenav .nav-link-text {
	display: none;
}
body.sidenav-toggled .navbar-sidenav .nav-item, body.sidenav-toggled .navbar-sidenav .nav-link {
	width: 55px !important;
}
body.sidenav-toggled .navbar-sidenav .nav-item:after, body.sidenav-toggled .navbar-sidenav .nav-link:after {
	display: none;
}
body.sidenav-toggled .navbar-sidenav-tooltip.show {
	display: flex;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	color: #fff;
	text-transform: uppercase;
	border-bottom: rgba(255,255,255,0.25) solid 1px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link>.nav-link-text {
	margin-left: 5px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
	font-weight: 700;
	background-color: rgba(255,255,255,0.15);
	border-right: 10px solid #FF6481;
}

@media (min-width: 992px) {
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
	width: 280px;
	background: #9d142e;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
	font-weight: 700;
	background-color: rgba(255,255,255,0.15);
	border-right: 10px solid #FF6481;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
	color: white;
}
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
	color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
#mainNav.navbar-light .navbar-collapse .navbar-sidenav {
	background: #f8f9fa;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
	color: #000 !important;
	background-color: #e9ecef;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
	color: #000;
}
}
.checkout-step {
	text-transform: uppercase;
}
.checkout-step-active {
	font-weight: 700;
}
.checkout-step-active>span {
	border-bottom: 6px solid #84754e;
	padding: 0 10px 7px;
}
.form-inline>div {
	display: inline-flex;
	margin-top: 10px;
}

@media (min-width: 992px) {
.checkout-step-active>span {
	padding: 0 10px 17px;
}
}
.checkout-step-done:after {
	content: '\f00c';
	font-family: 'FontAwesome';
	font-size: 30px;
	position: absolute;
	margin-left: -4px;
	margin-top: -20px;
	color: rgba(33,134,22,1.00);
	text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4)
}
.checkout-step-notcompleted {
	color: #9a9796;
}
.bg-gray {
	background-color: #f5f5f5;
}
.row-header {
	background-color: #fff;
	margin-left: -65px;
	margin-top: -15px;
	padding-left: 65px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.row-padding-top-bottom {
	padding: 20px 0;
}
.row-padding-xl-top-bottom {
	padding: 40px 0;
}
.margin-right {
	margin-right: 15px;
}
.border-gray {
	border: 1px solid rgba(50,50,50,0.80)
}
.product-info {
	background-color: #fff;
}

@media (min-width: 1150px) {
#mainNav .navbar-collapse {
	overflow: visible;
	max-height: none;
	margin-left: 50px;
	margin-right: 50px;
}
#navbarResponsive>ul:nth-of-type(2) {
	display: block;
}
#navbarResponsive>ul:nth-of-type(3) {
	display: block;
}
}

@media (min-width: 992px) and (max-width: 1150px) {
#navbarResponsive>ul:nth-of-type(2) {
	display: none;
}
#navbarResponsive>ul:nth-of-type(3) {
	margin-left: 0!important;
}
#mainNav .navbar-collapse {
	margin: auto 10px;
}
.row-header {
	padding-left: 5px;
}
}

@media (min-width: 1600px) {
.col-xxl-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.col-xxl-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
}
